#content-wrapper div.gallery img {
    cursor: pointer;
}

#content-wrapper div.gallery div.thumbnail{
    cursor: pointer;
    text-align: center;
}
#content-wrapper div.gallery div.thumbnail:hover {
    background: #ddd;
}

#content-wrapper div.gallery div.image-thumbnail {
    min-height: 250px;
}

#content-wrapper div.gallery div.image-thumbnail img {
    max-height: 190px;
}

#content-wrapper div.gallery div.album-thumbnail {
    min-width: 210px;
}
#content-wrapper div.gallery div.album-thumbnail .preview-images {
    min-height: 100px;
}
@media ( min-width: 768px) and ( max-width: 1200px ) {
    #content-wrapper div.gallery div.album-thumbnail .preview-images {
        min-height: 150px;
    }
}
#content-wrapper div.gallery div.album-thumbnail .preview-images .preview-image {
    float:left;
    margin: 4px;
    width: 42px;
    height: 42px;
}
#content-wrapper div.gallery div.album-thumbnail .preview-images img {
    max-width: 42px;
    max-height: 42px;
}

#content-wrapper .back-link {
    display: none;
    padding: 20px 0 20px 15px;
}

#content-wrapper .pagination-block {
    text-align: center;
}

#content-wrapper footer {
    margin: 20px 0;
}



#preview-image {
    position: fixed;
    text-align:center;
    width: 100%;
    z-index: 10000;
    display:none;
    top: 200px;
    left: 0;
}
#preview-image img {
     border: #FFF 1px solid;
     border-radius: 6px;
    max-width: 1000px;
 }
#preview-image-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: black;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
}
